<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v10tov.ru</title>
    <link rel="shortcut icon" href="./static/img/favicon.ico" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <link href="./static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="./static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link href="./static/css/contacts.css" rel="stylesheet" th:href="@{/css/contacts.css}"/>
    <link href="./static/css/header-gadget.css" rel="stylesheet" th:href="@{/css/header-gadget.css}"/>
    <link href="./static/css/footer-gadget.css" rel="stylesheet" th:href="@{/css/footer-gadget.css}"/>
    <link href="./static/css/contacts-gadget.css" rel="stylesheet" th:href="@{/css/contacts-gadget.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div th:insert="header :: header"></div>
<section>
    <div class="background">
        <div class="section">
            <a class="phone" target="_blank" href="tel:+79040757382">
                <h3>+7 904 075-73-82 Виктор</h3>
            </a>
        </div>
    </div>
</section>
<div th:insert="footer :: footer"></div>
</body>
</html>