<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
  <footer th:fragment="footer">
    <div class="container">
      <div class="footer-row">
        <div class="footer-logo">
          <div class="logo-text">
            <h2 class="up-logo-text">ИП Десятов Виктор</h2>
            <h5 class="down-logo-text">Отделка Инженерные сети Проектирование</h5>
          </div>
        </div>
        <div class="footer-icons">
          <p>Мои профили в социальных сетях:</p>
          <div class="footer-icons-row">
            <a target="_blank" href="https://www.instagram.com/v10tov/?igshid=ZDdkNTZiNTM%3D">
              <img th:src="@{../img/instagram.svg}" alt="instagram"/>
            </a>
            <a target="_blank" href="https://vk.com/v10tov">
              <img th:src="@{../img/vk.svg}" alt="vk"/>
            </a>
            <a target="_blank" href="https://wa.me/79040757382">
              <img th:src="@{../img/whatsapp.svg}" alt="whatsapp"/>
            </a>
            <a target="_blank" href="https://t.me/+79040757382">
              <img th:src="@{../img/telegram.svg}" alt="telegram"/>
            </a>
          </div>
        </div>
        <div>
          <div class="footer-mail">
            <a target="_blank" href="mailto:viktordesiatov@mail.ru?subject=Письмо с сайта v10tov.ru" class="footer-button">
              Написать письмо
            </a>
            <p>Напищите мне на электронную почту! viktordesiatov@mail.ru </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>