<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="google-site-verification" content="CHzGhd890Mx5H-5r-WwkVhxqXBb4BSRydhpdnLq19iE" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v10tov.ru</title>
    <link rel="shortcut icon" href="./static/img/favicon.ico" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <link href="./static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="./static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link href="./static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}"/>
    <link href="./static/css/header-gadget.css" rel="stylesheet" th:href="@{/css/header-gadget.css}"/>
    <link href="./static/css/footer-gadget.css" rel="stylesheet" th:href="@{/css/footer-gadget.css}"/>
    <link href="./static/css/index-gadget.css" rel="stylesheet" th:href="@{/css/index-gadget.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
</head> 
<body>
    <div th:insert="header :: header"></div>
    <section>
        <div class="background">
            <div class="section">
                <h1>v10tov.ru</h1>
                <p>Добро пожаловать на сайт v10tov.ru! Мы предлагаем качественные услуги по отделке и
                    ремонту квартир и домов. Наши специалисты имеют большой опыт в сфере отделочных и монтажных работ,
                    что позволяет выполнять работы на высоком уровне и с максимально высоким качеством. У нас Вы можете
                    найти компетентных мастеров по отделочным и монтажным работам в городе Омске. Обращайтесь
                    к нам за профессиональной помощью в ремонтных работах!</p>
                <h3>Отделочные работы в Омске</h3>
                <h3>Электромонтажные работы в Омске</h3>
                <h3>Сантехнические работы в Омске</h3>
                <h3>Установка сплит систем в Омске</h3>
                <h3>Проектирование</h3>
                <h1>!!! САЙТ В РАЗРАБОТКЕ !!!</h1>
            </div>
        </div>
    </section>
    <div th:insert="footer :: footer"></div>
</body>
</html>