<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v10tov.ru</title>
    <link rel="shortcut icon" href="./static/img/favicon.ico" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <link href="./static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="./static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link href="./static/css/objects.css" rel="stylesheet" th:href="@{/css/objects.css}"/>
    <link href="./static/css/header-gadget.css" rel="stylesheet" th:href="@{/css/header-gadget.css}"/>
    <link href="./static/css/footer-gadget.css" rel="stylesheet" th:href="@{/css/footer-gadget.css}"/>
    <link href="./static/css/objects-gadget.css" rel="stylesheet" th:href="@{/css/objects-gadget.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div th:insert="header :: header"></div>
<section>
    <div class="background">
        <div class="section">
            <div th:each="object : ${objects}">
                <div class="objects">
                    <H2 th:text="${object.name}"></H2>
                    <H4 th:text="${object.date}"></H4>
                    <H5 th:switch="${object.completed}">
                        <span class="completed" th:case="${true}" th:text="Завершен"/>
                        <span class="current" th:case="${false}" th:text="Текущий"/>
                    </H5>
                </div>
                <div>
                    <p th:text="${object.description}"></p>
                </div>
                <div class="object-images" th:each="image : ${object.imagesObjects}">
                    <img class="images" th:src="@{/objects/images/{id}(id=${image.id})}" th:alt="${image.name}"/>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:insert="footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/objects.js}"></script>
</body>
</html>