<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta name="google-site-verification" content="CHzGhd890Mx5H-5r-WwkVhxqXBb4BSRydhpdnLq19iE" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v10tov.ru</title>
  <link rel="shortcut icon" href="./static/img/favicon.ico" type="image/x-icon" th:href="@{/img/favicon.ico}">
  <link href="./static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
  <link href="./static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}"/>
  <link href="./static/css/registration.css" rel="stylesheet" th:href="@{/css/registration.css}"/>
  <link href="./static/css/header-gadget.css" rel="stylesheet" th:href="@{/css/header-gadget.css}"/>
  <link href="./static/css/footer-gadget.css" rel="stylesheet" th:href="@{/css/footer-gadget.css}"/>
  <link href="./static/css/registration-gadget.css" rel="stylesheet" th:href="@{/css/registration-gadget.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div th:insert="header :: header"></div>
    <section>
      <div id="block1" style="display:none;">
        <H4>Регистрация Клиента</H4>
        <form th:action="@{/registration/client}" method="post">
          <div><label> Email : <input type="email" name="email"/> </label></div>
          <div><label> Phone number: <input type="text" name="phonenumber"/> </label></div>
          <div><label> Имя пользователя: <input type="text" name="lastname"/> </label></div>
          <div><label> Фамилия пользователя: <input type="text" name="firstname"/> </label></div>
          <div><label> Password: <input type="password" name="password"/> </label></div>
          <div><input type="hidden" name="_csrf" value="${_csrf.token}"/></div>
          <div><input type="submit" value="Зарегистрировать"/></div>
        </form>
      </div>
      <div id="block2" style="display:none;">
        <H4>Регистрация Мастера</H4>
        <form th:action="@{/registration/master}" method="post">
          <div><label> Email : <input type="email" name="email"/> </label></div>
          <div><label> Phone number: <input type="text" name="phonenumber"/> </label></div>
          <div><label> Имя пользователя: <input type="text" name="lastname"/> </label></div>
          <div><label> Фамилия пользователя: <input type="text" name="firstname"/> </label></div>
          <div><label> Password: <input type="password" name="password"/> </label></div>
          <div><input type="hidden" name="_csrf" value="${_csrf.token}"/></div>
          <div><input type="submit" value="Зарегистрировать"/></div>
        </form>
      </div>
    </section>
  <div th:insert="footer :: footer"></div>
  <script type="text/javascript" th:src="@{/js/registration.js}"></script>
</body>
</html>