spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:3306/v10tov
    username: vint
    password: ~Q+~%o3Zj+o}R*H4+X-aVKb+
    driverClassName: com.mysql.cj.jdbc.Driver
    initialize: true
    initialization-mode: always
    sql-script-encoding: UTF-8
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  freemarker:
    expose-request-attributes: true
