.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.logo-text {
    margin-right: 80px
}
.up-logo-text {
    text-decoration: underline;
    letter-spacing: 0.15em;
    margin: 0;
    margin-bottom: 0px;
}
.down-logo-text {
    margin: 0;
    margin-bottom: 0px;
    white-space: nowrap;
}
footer {
    padding-top: 45px;
    padding-bottom: 130px;
    background: rgb(4, 96, 177);
    color: white;
}
.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-logo {
    max-width: 390px;
    flex-grow: 1;
}
.footer-icons {
    max-width: 390px;
    flex-grow: 1;
}
.footer-icons p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
}
.footer-icons-row {
    display: flex;
    align-items: center;
}
.footer-icons-row > * + * {
    margin-left: 30px;
}
.footer-mail {
    max-width: 390px;
    flex-grow: 1;
}
.footer-button {
    display: inline-block;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;

    border: 3px solid #ffffff;
    border-radius: 50px;
    color: white;

    font-weight: 700;
    font-size: 16px;
    line-height: 44px;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-mail p {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.3;
    color: white;
}